langchain
langchain-groq
langchain-core
langchain-community
langchain-huggingface
langchain-mcp-adapters
langchain-tavily
langgraph
langgraph-checkpoint-postgres
fastmcp
mcp
tavily-python
pydantic
pillow
tiktoken
requests
python-dotenv
streamlit
psycopg[binary]
pywin32; sys_platform == "win32"